@model List<ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Default Page</h1>
<br />
<br />



@foreach (var product in Model)
{
    <h1>@product.ProductCode</h1><br />
    <h3>@product.ProductName</h3>
    <h3>@product.CreatedBy</h3>
    <br />
    <br />

}